<div>
    <div class="container-fluid navbar">
        <div class="container navbar-container">
            <div class="nav-logo">
                <h4>Student Management</h4>
            </div>
            <div>
                <ul class="navbar-links">
                    <li class="nav-links" *ngIf="id == 1 || id == 2 || id == 3">
                        <a routerLink="#">Mark</a>
                    </li>
                    <li class="nav-links" *ngIf="id == 1 || id == 2 || id == 3">
                        <a routerLink="#">Attendance</a>
                    </li>
                    <li class="nav-links" *ngIf="id == 2 || id == 3">
                        <a routerLink="#">Report</a>
                    </li>
                    <li class="nav-links" *ngIf="id == 3">
                        <a routerLink="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="input-container">
            <input type="number" placeholder="Enter the Value" class="text-box" required [(ngModel)]="id" />
        </div>
    </div>
</div>